<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2018 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<openerp>
<data>

    <menuitem
        id="account_asset_retirement_root_menu"
        name="Retirement"
        parent="account_asset_management.menu_finance_assets"
        sequence="100"/>

</data>
</openerp>
